<mat-card>
  <mat-card-header>Cadastro de Aluno</mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [(ngModel)]="aluno.nome"
          name="nome"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="CPF" [(ngModel)]="aluno.cpf" name="cpf" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Data de Nascimento"
          [(ngModel)]="aluno.dataDeNascimento"
          name="dataDeNascimento"
          required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker
      ></mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="E-mail"
          [(ngModel)]="aluno.email"
          name="email"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Telefone Celular"
          [(ngModel)]="aluno.telefone1"
          name="telefone1"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Telefone Residencial"
          [(ngModel)]="aluno.telefone2"
          name="telefone2"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Telefone Comercial"
          [(ngModel)]="aluno.telefone3"
          name="telefone3"
        />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="RG" [(ngModel)]="aluno.rg" name="rg" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Órgão de Emissão"
          [(ngModel)]="aluno.orgaoRg"
          name="orgaoRg"
        />
      </mat-form-field>

      <app-escolaridade (escolaridadeResult)="getEscolaridade($event)"></app-escolaridade>

      <mat-form-field appearance="fill">
        <mat-label>Profissão</mat-label>
        <mat-select [(ngModel)]="aluno.profissaoId" name="profissao" required>
          <mat-option
            *ngFor="let profissao of profissoes"
            [value]="profissao.id"
          >
            {{ profissao.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sexo</mat-label>
        <mat-select [(ngModel)]="aluno.sexo" name="sexo" required>
          <mat-option *ngFor="let sexo of sexos" [value]="sexo">
            {{ sexo }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Estado Civil</mat-label>
        <mat-select [(ngModel)]="aluno.estadoCivil" name="estadoCivil" required>
          <mat-option
            *ngFor="let estadoCivil of estadosCivis"
            [value]="estadoCivil"
          >
            {{ estadoCivil }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-endereco (enderecoResult)="getEndereco($event)"></app-endereco>

      <button mat-raised-button (click)="cancel()">Cancelar</button>
      <button mat-raised-button (click)="createAluno()" color="primary">
        Salvar
      </button>
    </form>
  </mat-card-content>
</mat-card>
