<mat-form-field class="example-full-width">
  <mat-label>Curso</mat-label>
  <input
    type="text"
    placeholder="Escolha o curso"
    aria-label="Curso"
    matInput
    [formControl]="cursoCtrl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of nomesDosCursosFiltrados | async"
      [value]="option"
    >
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<br />
<app-seleciona-modulo
  *ngIf="cursoSelecionado"
  [curso]="cursoSelecionado"
  (moduloResult)="setModulos($event)"
></app-seleciona-modulo>
